/* h1{
    color: #008000;
    color: #132561;
}
p strong{
    color: #800080;
}

.jayme{
    color:#ff0000;
    font-size: 30px;
}
.john{
    color: yellow;
    font-size: 25px;
}

.btn{
    background-color: tomato;
    height: 40px;
    width: 100px;
    border: none;
    color: rgb(19, 3, 3);
    margin-top: 20px;
    margin-left: 10%;
    padding: 2px;
    border-radius: 30px;
    
}

.btn:hover{
    background-color: seagreen;
    transition: 1s;
    cursor: pointer;
} */

#title{
    font: 30px;
    color: #000;
}

hr{
    color: rgb(97, 97, 12);
    border: none;
    height: 20px;   
    width: 200px;
}
