* {
    margin: 0;
    padding: 0;
    /* font-size: 22px; */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    }
  
  html{
    scroll-behavior: smooth;
  }
  
  /* Começo: NavBar */
  
  #navbar {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; 
      background: #000000;
      position: sticky;
      top: 0;
      text-decoration-color: #FFFFFF;   
  }

  .op7{
   opacity: 0.7;
  }

  .op10{
    opacity: 1;
  }
  
  
  .logo {
      width: 100px;
      height: auto;   
      opacity: 1;
      margin-left: 50px;
  }
  
  .list li {
      display: flex;
      justify-items: space-between;
      align-content: center;
      list-style: none;
      
  }
  .list a {
      text-decoration: none;
      color: #FFFFFF;
      margin-right: 3rem;
  }
  
  /* Fim: NavBar */
  
  /* Começo: Home */
  
  #home {
      width:100%;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image:  url(./images/home.png); 
      background-size: cover;
      /* padding-right: 45%;
      padding-left: 4%;
      padding-top: 3%; */
  }
  
  
  .home-content{
    /* margin-top: 8rem; */
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    /* border: 2px solid #001dc0; */
    padding-left: 4%

  }

  .tamanho{
    width: 50%;
    height: 50%;
  }

  .home-content p{
    /* width: 50%; */
    margin-top: 2rem;
  }

  .home-content button{
  margin-top: 2rem;
  }

  #home h1{
    font-size: 250%;
    display: flex;
    justify-content: left;
    align-items: unset;   
  }
  
  /* Fim: Home */
  
  /* Começo: About */
  
  #about{
      min-width:100%;
      min-height: 75vh;
      justify-content: space-between;
      background-image: url(./images/about.png);
      background-size: cover;
      background-repeat:no-repeat;
  }
  
  #about div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
  }
  
  #about h3 {
      padding-top: 6%;
  }
  
  #about p {
      padding-top: 4%;
      width: 50%;
      font-size: 1.2rem;
      font-weight: initial;
  }
  
  #about hr{
      height: 0.2rem;
      background-color: #FF7575;
      width: 4%;
      border: none;
  
  }
  
  /* Fim: About */
  
  /* Começo: Menu */
  
  /* #menu{
      min-width:100%;
      min-height: 100%;
      background-image: url(images/menu.jpg); 
      background-size: cover;  
  } */
  
  #menu{
      width: 100%;
      height: 100vh;
      background-image: url(./images/menu.jpeg); 
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
    }
  
    #box_menu{
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
    }
  
    .box{
      width: 20vw;
      height: 60vh;
      border: 3px solid #FFFFFF;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* justify-content: center; */
    }
  
    .box-content{
      align-self: stretch;
      margin-top: 2rem;
      margin-left: 1rem;
    }
  
  /* Fim: Menu */
  
  
  /* Começo: Contact */
  
  #contact{
      min-width:90vw;
      min-height: 75vh;
      background-image: url(./images/contato.png); 
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: none;
      /* display: flex; */
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: #FFFFFF;
  }
  
  
  .area{
    margin-right: 15rem;
    
  }
  
  .area h3{
      margin-top: -1.9rem;
  }
  
  
  /* Fim: Contact */
  
  /* Contact -2 */
  
  #contacto{
    width: 100%;
    height: 70vh;
    background-image: url(./images/contato.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: none; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
  }
  
  
  
  
  .igual{
    width: 50%;
    height: 70vh;
    display: flex;
    flex-direction: column;
  }
  
  .contato_box{
    width: 30vw;
    height: 40vh;
  }
  
  
  .bordaazul{
    border: 2px solid #001dc0;
  }
  
  .bordaverde{
    border: 2px solid #18c73e;
  }
  
  .bordabranca{
    border: 2px solid #FFFFFF;
  }

  .bordapink{
    border: 2px solid #c21cb4;
  }
  
  .small{
    width: 20rem;
    height: 5rem;
  }
  
  .center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .left{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }
  
  .right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  /* Contact -2 */
  
  /* Começo: Form */
  
  #form{
      min-width: 100%;
      min-height: 80vh;
      display: flex;
      background-image: url(./images/form.png);
      flex-direction: column;
      background-size: cover;
      background-position: center;
      align-items: center;
      justify-content: center;
      /* flex-direction: row; */
  
      
  }
  #title{
      display: flex;
      align-items: center;
  }

  #box_forms{
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .tam-form{
    width: 100%;
    height: 100%;
  }

  .toda{
    width: 100%;
    height: 100%;
  }
  
  .label-box{
      width: 90%;
      height: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .input-box{
    width: 90%;
    height: 10%;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
  }

  #form label{
    width: 100%;
    height: 3vh;
    /* float: left; */
  }

  .form-input{
    width: 90%;
    height: 10%;
  }

  .input{
    width: 50%;
    height: 60%;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    background-color: transparent;
  }

  .placeholder-text::placeholder {
    color: #FFFFFF;
  }

  
  /* #form input{
      height: 100%;
      width: 100%;
      float: right;
  } */

  /* Fim: Form */

  /* Começo: Maps */
  #maps {
      height: 45%;
      filter: brightness(0.65);
      padding-bottom: 50px;
  }

  .map{
    width: 100%;
    height: 127%;
  }

  /* Fim: Maps */
  
  /* Começo: Footer */

  
  .footer-bottom{
      height: 50px;
      width: 100%;
      /* position:fixed; */
      /* position: absolute; */
      position: d;
      background-color: #252525;
      bottom: 0;
      opacity: 80%;
      overflow: hidden;
  }
  
  .footer-text {
      color: red;
      text-align: center;
      padding-top: 0.35rem;
  }
  
  .footer-href{
      text-decoration: none;
      color:#800000;
      /* -webkit-transition: .3s all ease; */
      /* color; */
  }
  
  .footer-href:hover{
      text-decoration: none;
      color:red;    
  }
  
  
  
  /* Fim: Footer */
  
  
  
  
@media only screen and (min-width: 280px) and (max-width: 768px) and (max-height: 1280px){


  /* Começo: NavBar */
  #navbar{
    display: none;
  }
  /* Fim: NavBar */

  /* Começo: Home */
  #home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
  }

  .home-content{
    /* margin-top: 2rem; */
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 3px solid #6000a0; */
    padding-left: 0%
 }

 .tamanho{
  width: 95%;
  min-height: 60%;
  /* border: 3px solid #6000a0; */
}

 .home-content div{
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


 .home-content p{
    margin-top: 0rem;
    align-items: center;
    text-align: justify;
    font-size: 1rem;
    /* width: 90%; */
    margin-top: 2rem;
 }

 .home-content button{
    margin-top: 2rem;
 }

 #home h1{
    font-size: 250%;
    display: flex;
    justify-content: center;
    align-items: unset;   
 }

  /* Fim: Home */


  /* Começo: About */
  #about{
    display: none;
  }
  /* Fim: About */


  /* Começo: Menu */
  #menu{
    width: 100%;
    height: 280%;
    display: flex;
    /* display: none; */
  }

  #menu h1{
    font-size: 2.8rem;
  }
  
  #menu h3{
    font-size: 1rem;
  }

  #menu p{
    font-size: 1.3rem;
  }

  .tam{
    padding-bottom: 0.7rem;
  }

  .top{
    display: flex;
    align-items: flex-start;
  }


  #box_menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .box{
    width: 75vw;
    height: 80vh;
    margin-bottom: 1rem;
  }

  /* Fim: Menu */


  /* Começo: Contato */
  #contacto{
    display: none;
  }

  #contact{
    display: none;
  }
  /* Fim: Contato */

  #form{
    display: none;
  }


  /* Começo: Maps */
  #maps{
    display: none;
  }
  
  /* Fim: Maps */

  .footer-bottom{
    display: none;
  }

}

@media only screen and (min-width: 768px) and (max-width: 1023px) and (max-height: 1366px){


  /* Começo: NavBar */
  #navbar{
    display: none;
  }
  /* Fim: NavBar */

  /* Começo: Home */
  #home{
    /* display: none; */
    /* border: 3px solid #FF7575; */
  }
  /* Fim: Home */


  /* Começo: About */
  #about{
    display: none;
  }
  /* Fim: About */


  /* Começo: Menu */
  #menu{
    width: 100%;
    height: 100vh;
    display: flex;
    /* display: none; */
    
  }

  #menu h1{
    font-size: 4.5rem;
  }
  
  #menu h3{
    font-size: 1.8rem;
  }
  
  #menu h4{
    font-size: 1.7rem;
  }

  #menu p{
    font-size: 1.5rem;
  }

  .tam{
    padding-bottom: 1rem;
  }

  .top{
    display: flex;
    align-items: flex-start;
  }


  #box_menu{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .box{
    width: 30vw;
    height: 62vh;
    margin-bottom: 1rem;
  }

  /* Fim: Menu */


  /* Começo: Contato */
  #contacto{
    display: none;
  }

  #contact{
    display: none;
  }
  /* Fim: Contato */

  #form{
    display: none;
  }


  /* Começo: Maps */
  #maps{
    display: none;
  }
  
  /* Fim: Maps */

  .footer-bottom{
    display: none;
  }

}