* {
    margin: 0;
    padding: 0;
    /* font-size: 22px; */
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    }
  
  html{
    scroll-behavior: smooth;
  }

  /* Começo: Home */
  
  #home {
    width:100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image:  url(./images/home.png); 
    background-size: cover;
    color: #FFFFFF;
    /* padding-right: 45%;
    padding-left: 4%;
    padding-top: 3%; */
}


.home-content{
  /* margin-top: 8rem; */
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* border: 2px solid #001dc0; */
  padding-left: 4%

}

.tamanho{
  width: 40%;
  height: 50%;
}

.home-content p{
  /* width: 50%; */
  margin-top: 2rem;
}

.home-content button{
margin-top: 2rem;
}

#home h1{
  font-size: 250%;
  display: flex;
  justify-content: left;
  align-items: unset;   
}

/* Fim: Home */

