*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização Barra de Navegação: Começo */

#barnav{
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    position: sticky;
    top: 0;
    background-color: #1488f2;

}

#barnav h4{
    color: #fff;

}

#nav-list{
    display: flex;
    list-style: none;

}

#nav-list a{
    text-decoration: none;
    color: #fff;

}

.nav-list-margem{
    margin-right: 1.5rem;
}

/* Estilização Barra de Navegação: Fim */